landsat_tifs_1986/
landsat_tifs_1989/
landsat_tifs_1992/
landsat_tifs_1995/
landsat_tifs_1998/
landsat_tifs_2001/
landsat_tifs_2004/
landsat_tifs_2007/
landsat_tifs_2010/
landsat_tifs_2014/
landsat_tifs_2016/
landsat_tifs_2109/
InceptionTime/
MultiRocket/
